body {
    background-color: rgb(218, 239, 245);
    color: black;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img:hover {
    border-radius: 30px;
}